<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuiz</servlet-name>
        <servlet-class>controller.MakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>controller.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>controller.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuizController</servlet-name>
        <servlet-class>controller.ManageQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultController</servlet-name>
        <servlet-class>controller.ResultController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuiz</servlet-name>
        <url-pattern>/makequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/takequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuizController</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/doquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultController</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/doquiz</url-pattern>
        <url-pattern>/result</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>UTFFilter</filter-name>
        <filter-class>filter.UTFFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTFFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>ExamFilter</filter-name>
        <filter-class>filter.ExamFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExamFilter</filter-name>
        <url-pattern>/result</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/manage</url-pattern>
        <url-pattern>/takequiz</url-pattern>
        <url-pattern>/error</url-pattern>
        <url-pattern>/welcome</url-pattern>
        <url-pattern>/makequiz</url-pattern>
        <url-pattern>/registration</url-pattern>
    </filter-mapping>
</web-app>
