/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2021, 10:58:44 PM
    Author     : songm
*/

.row 
{
    display: flex;
    flex-direction: row;
}
.content-left 
{
    width: 75% !important;
}

.content-left p 
{
    padding-right: 5px;
}

.content-right p 
{
    padding-left: 5px;
}

.content-right 
{
    width: 25% !important;
}
